<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="peo" class="com.ning.pojo.People">
        <property name="id">
            <value>666</value>
        </property>
        <property name="name">
            <value>张三</value>
        </property>

        <property name="sets">
            <set>
                <value>1</value>
                <value>2</value>
                <value>3</value>
                <value>4</value>
            </set>
        </property>

        <!--<property name="list">-->
            <!--<list>-->
                <!--<value>1</value>-->
                <!--<value>2</value>-->
                <!--<value>3</value>-->
            <!--</list>-->
        <!--</property>-->
        <property name="list" value="1,2,3,4,5"/>

        <!--<property name="strs">-->
            <!--<array>-->
                <!--<value>1</value>-->
                <!--<value>2</value>-->
                <!--<value>3</value>-->
            <!--</array>-->
        <!--</property>-->
        <property name="strs" value="测试1,测试2，测试3"/>

        <property name="map">
            <map>
                <entry key="a" value="b"/>
                <entry key="c" value="d"/>
            </map>
        </property>
        <property name="desk" ref="desk"/>
    </bean>
    <bean id="desk" class="com.ning.pojo.Desk">
        <property name="id" value="1"/>
        <property name="price" value="8"/>
    </bean>
</beans>